doctype
html
	title= title
	meta(charset='utf-8')
	link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel="stylesheet", href="http://localhost:2500/css/styles.css")
body
	.container
		h3
			a(href="/") code is a poetry
		h3= title
		hr
		ul.nav.nav-pills
			each link in links
				if current == link
					li.active
						a(href= link)= link
				else
					li
						a(href= link)= link
					
		hr
		block content